body {
    margin: 0;
    background-color: black;
}

#container {
    --container-margin-vertical: 24px;
    height: calc(100vh - var(--container-margin-vertical) * 2);
    margin: var(--container-margin-vertical) 0;
}

#painting {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}
